
RDLCReportSimulator/RDLCReportSimulator/RDLCReportSimulator/obj/Debug/RDLCReportSimulator.csprojAssemblyReference.cache
LEAN-LNMeterDataService/
/End-to-end-for-chinese-plate-recognition
/ImageNet
/label-studio
labelImg/
notebooks/
pcb-defect-segmentation/
pcb/
playground/
resnet-50/
