<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- connection string-->
    <add key="ConnectionString" value="Data Source=NSCM0295\FFMES2K8; User ID=190041; password=vJsPVNQYVkryTNEP518fow==; Initial Catalog=FF2_8_24; Trusted_Connection=yes"/>

    <!-- Will decide if save the log information as local file, Defaul Value=True-->
    <add key="SaveLogInLocalFile" value="True"/>
    <!-- Will decide if save the log information in DB table, note, this will only for Socket and SQL Server exception. Defaul Value=True-->
    <add key="SaveLogInDB" value="True"/>
    <!-- Will decide if save the DB Call log information in local file, Defaul Value=True-->
    <add key="SPLoggingEnabled" value="True"/>

    <!-- Sample: Command1;Command2    -->
    <add key="ServiceFilter" value="Electricity;Water;WaterFlow;AirFlow"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
