<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- connection string-->
    <add key="ConnectionString" value="Data Source=NSCM1654\FFMES2K17; User ID=190041; password=qFKwB8beIjv/QXBvwSYWQA==; Initial Catalog=FF2_8_24; Trusted_Connection=no"/>
    <!-- Will decide if need to trigger the cool down-->
    <add key="UDPTriggerCoolDown" value="udpLNTriggerCoolDown"/>
    <!-- Will decide the timer's interval time from each circle (second)-->
    <add key="IntervalTime" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>